<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pictures</title>
</head>
<body>
  <h1>This is where we will render Pictures</h1>
  <ul>
    <!-- hard coded image, TODO create image array to render images dynamically -->
    <p>This is a hard-coded image, we will replace this by rendering from an array in app.js</p>
    <img src="https://cdn.mos.cms.futurecdn.net/VSy6kJDNq2pSXsCzb6cvYF.jpg" alt="grey cat" width="737px" height="415">
</body>
</html>